html {
    background: url(https://helge.media/images/Hintergrund.svg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
}

/*
.wrapper {
    display: none;
}
*/

/* Responsive Menu Styling */
#mainmenu {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 50%;
    transform: translateX(-49.5%);
    top: 50px;
}

.menu a {
    color: #000000;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    font-family: "HalisGR-Regular", sans-serif;
}

.menu a:hover {
    text-decoration: underline;
}

.menuresponsive {
    display: none;
    position: absolute;
    width: 200px;
    height: auto;
    top: 50px;
    right: 2px;
    background-color: rgba(103, 117, 123, 0.92);
    padding: 20px 10px;
    z-index: 300;
}

.menuresponsive a {
    display: block;
    text-align: left;
    color: #FFFFFF;
    padding: 20px;
    text-decoration: none;
    font-size: 16px;
    font-family: "HalisGR-Regular", sans-serif;
}

/* Button Styling */

.icon {
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #000000;
    text-align: center;
    padding: 2px;
    text-decoration: none;
    font-size: 26px;
    font-family: "HalisGR-Regular", sans-serif;
}

/* Media Queries */
@media screen and (max-width: 620px) {
    .menu {
        display: none;
    }

    .icon {
        display: block;
    }

    .icon.responsive {
        color: #67757B;
    }

    .menuresponsive.responsive {
        display: block;
    }

    .menuresponsive.responsive a:hover {
        background-color: #3c474d;
    }
}

/* Logo Styling */
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-46%);
    margin-top: 55px;
}

.logo img {
    width: 250px;
}

/* Content Container Styling */
#containerOut {
    position: absolute;
    height: auto;
    left: 20px;
    right: 20px;
    top: 170px;
    margin-bottom: 20px;
    background-color: rgba(241, 250, 255, 0.9);
    border-radius: 2px;
}

#containerIn {
    position: relative;
    height: auto;
    max-width: 600px;
    margin: auto;
    padding: 8px;
    font-family: "HalisGR-Regular", sans-serif;
}

#containerIn h2 {
    font-size: 20px;
}

#containerIn p {
    font-size: 14px;
}

/* Impressum Styling */
#ankermarke {
    display: inline;
    width: 20px;
    transform: translateY(28%);
}

.implinks {
    color: #67757B;
    text-decoration: none;
}

/* Referenzen Styling */

/* Team Styling */

/* Kontakt Styling */
.divinner {
    float: left;
    width: 100%;
}

@media (min-width: 620px) {
    .divinner {
        width: 50%;
    }
}

#contactd {
    font-family: "HalisGR-Regular", sans-serif;
    font-size: 14px;
    margin-top: 20px;
}

#contactd a {
    color: #67757B;
    text-decoration: none;
}

#contactf {
    margin-bottom: 20px;
}

.inputs {
    background-color: #67757B;
    color: #FFFFFF;
    outline: none;
    border: none;
}

.shorti {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#message {
    resize: none;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.antispam {
    display: none;
}

.fadein {
    display: none;
}