html {
  background: url(https://helge.media/images/Hintergrund.svg) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

/*
.wrapper {
    display: none;
}
*/

/* Responsive Menu Styling */

#mainmenu {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 50%;
  transform: translateX(-49.5%);
  top: 50px;
}

.menu a {
  color: #000000;
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
  font-family: "HalisGR-Regular", sans-serif;
}

.menu a:hover {
  text-decoration: underline;
}

.menuresponsive {
  display: none;
  position: absolute;
  width: 200px;
  height: auto;
  top: 50px;
  right: 2px;
  background-color: rgb(103, 117, 123);
  background-color: rgba(103, 117, 123, 0.92);
  padding: 20px 10px;
  z-index: 1000;
}

.menuresponsive a {
  display: block;
  text-align: left;
  color: #ffffff;
  padding: 20px;
  text-decoration: none;
  font-size: 16px;
  font-family: "HalisGR-Regular", sans-serif;
}

/* Button Styling */

.icon {
  display: none;
  position: absolute;
  top: 10px;
  right: 20px;
  color: #000000;
  text-align: center;
  padding: 2px;
  text-decoration: none;
  font-size: 26px;
  font-family: "HalisGR-Regular", sans-serif;
}

/* Media Queries */

@media screen and (max-width: 750px) {
  .menu {
    display: none;
  }
  .icon {
    display: block;
  }
  .icon.responsive {
    color: #67757b;
  }
  .menuresponsive.responsive {
    display: block;
  }
  .menuresponsive.responsive a:hover {
    background-color: #3c474d;
  }
}

/* Logo Styling */

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-46%);
  margin-top: 55px;
}

.logo img {
  width: 250px;
}

/* Content Container Styling */

#containerOut {
  position: absolute;
  height: auto;
  left: 20px;
  right: 20px;
  top: 170px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  background-color: rgb(241, 250, 255);
  background-color: rgba(241, 250, 255, 0.9);
  border-radius: 2px;
}

#containerIn {
  position: relative;
  height: auto;
  max-width: 600px;
  margin: auto;
  padding: 8px;
  font-family: "HalisGR-Regular", sans-serif;
}

#containerIn h2 {
  font-size: 20px;
}

#containerIn p {
  font-size: 14px;
}

/* Impressum Styling */

#ankermarke {
  display: inline;
  transform: translateY(28%);
}

.implinks {
  color: #67757b;
  text-decoration: none;
}

.reflinks {
  color: #b5c5cb;
  text-decoration: none;
}

/* Referenzen Styling */

#refContainerIn {
  position: relative;
  height: auto;
  max-width: 800px;
  margin: auto;
  padding: 8px;
  font-family: "HalisGR-Regular", sans-serif;
}

.containerRef {
  text-align: center;
}

.referencewrapper {
  position: relative;
  float: left;
  width: 100%;
}

.referencewrapper img {
  width: 100%;
  border-radius: 4px;
}

.refdisplay {
  display: none;
  position: fixed;
  top: 10%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  background-color: rgb(103, 117, 123);
  background-color: rgba(103, 117, 123, 0.92);
  z-index: 500;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.refimagecontainer {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 10px 10px 10px;
  z-index: 300;
}

.refimagecontainer img {
  width: 90%;
  margin: auto;
}

.reftextcontainer {
  box-sizing: border-box;
  padding: 4px;
  float: left;
  width: 100%;
  height: 70%;
  color: white;
  margin-bottom: 20px;
}

.refblockerdiv {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 400;
}

@media (min-width: 750px) {
  .refblockerdiv {
    display: none;
  }
  .referencewrapper {
    width: 30%;
    margin: 6px;
  }
  #ref1 {
    margin-left: 3%;
  }
  .refimagecontainer {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
  }
  .refimagecontainer img {
    width: 90%;
    margin: auto;
  }
  .reftextcontainer {
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 100%;
    padding: 4px 20px 4px 4px;
    color: white;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .refdisplay {
    position: absolute;
    top: -5%;
    left: -1%;
    right: -1%;
    bottom: -225px;
  }
}

#refheader {
  font-size: 24px;
  color: #67757b;
  margin-bottom: 20px;
}

/* Team Styling */

#teamheader {
  font-size: 24px;
  color: #67757b;
  margin-bottom: 20px;
}

#friendsheader {
  font-size: 24px;
  color: #67757b;
  margin-bottom: 20px;
}

#teamcontainerIn {
  position: relative;
  height: auto;
  max-width: 800px;
  margin: auto;
  padding: 8px;
  font-family: "HalisGR-Regular", sans-serif;
}

.contentwrapper {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.friendscontentwrapper {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.imgwrapper {
  position: relative;
  display: inline-block;
}

.imgwrapper img {
  width: 100%;
  display: block;
  border-radius: 4px;
}

.magsymbol {
  display: none;
}

.biowrapper {
  display: none;
  color: #ffffff;
}

.biowrapper2 {
  display: block;
}

.biowrapper3 {
  display: block;
}

.biowrapper3 a {
  text-decoration: none;
  color: #67757b;
}

.biowrapper a {
  text-decoration: none;
  color: #b5c5cb;
}

.biowrapper2 a {
  text-decoration: none;
  color: #67757b;
}

.email {
  margin: 0;
}

.tel {
  margin: 0;
}

.web {
  margin: 0;
}

.blockerdiv {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
}

@media (min-width: 750px) {
  .blockerdiv {
    display: none;
  }
  .friendscontentwrapper {
    width: 33%;
  }
  .contentwrapper {
    width: 50%;
  }
  .biowrapper2 {
    display: none;
  }
  .biowrapper {
    background-color: #67757b;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 400;
  }
  .biowrapper3 {
    display: none;
    background-color: #67757b;
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    top: 0;
    border-radius: 4px;
    color: #ffffff;
    padding-top: 10px;
    z-index: 400;
  }
  .biowrapper3 a {
    text-decoration: none;
    color: #b5c5cb;
  }
  .biowrapper3 p {
    font-size: 14px;
  }
  .biowrapper h3 {
    margin-top: 60px;
  }
  #imgwrap1 {
    margin-right: 6px;
  }
  #imgwrap2 {
    margin-left: 6px;
  }
  #bio1 {
    padding-right: 12px;
    left: 0;
    border-radius: 4px 0 0 4px;
  }
  #bio2 {
    padding-left: 12px;
    right: 0;
    border-radius: 0 4px 4px 0;
  }
  #img1 {
    border-radius: 4px 0 0 4px;
  }
  #img2 {
    border-radius: 0 4px 4px 0;
  }
  .magsymbol {
    display: block;
    position: absolute;
    right: 20px;
    bottom: 10px;
    z-index: 200;
    padding: 2px;
    font-size: 18px;
    color: #fcfcfc;
  }
}

.hover {
  display: block;
}

/* Kontakt Styling */

#schreib {
  font-size: 24px;
  color: #67757b;
  margin-bottom: 20px;
}

.containercon {
  text-align: center;
}

.divinner {
  position: relative;
  float: left;
  width: 100%;
}

@media (min-width: 750px) {
  .divinner {
    width: 50%;
  }
}

#contactd {
  font-family: "HalisGR-Regular", sans-serif;
  font-size: 14px;
  margin-top: 32px;
  text-align: left;
}

#contactd a {
  color: #67757b;
  text-decoration: none;
}

#contactf {
  margin-bottom: 20px;
}

#contactf label {
  display: none;
}

.inputs {
  background-color: #67757b;
  color: #ffffff;
  outline: none;
  border: 3px solid rgb(204, 204, 204);
  border: 3px solid rgba(204, 204, 204, 0);
  -webkit-transition: 0.5s;
  -o-transition: 0.5;
  -moz-transition: 0.5;
  transition: 0.5s;
}

.inputs:focus {
  border: 3px solid #555555;
}

.shorti {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

#message {
  resize: none;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.antispam {
  display: none;
}

.fadein {
  box-sizing: border-box;
  display: none;
  position: absolute;
  width: 100%;
  height: 41px;
  bottom: 22px;
  left: 0;
  border-radius: 4px;
  z-index: 400;
  padding: 10px;
}

.fadecenter {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#popup2 {
  background-color: #af5962;
  color: white;
}

#popup1 {
  background-color: #69b485;
  color: white;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ffffff;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffffff;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
}

#sendbutton {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  background-color: #e5c334;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

#sendbutton:hover {
  background-color: #e6a829;
}
