@font-face {
	font-family: 'HalisGR-Medium';
	src: url('https://helge.media/fonts/Ahmet Altun - HalisGR-Medium.eot');
	src: local('☺'), url('https://helge.media/fonts/Ahmet Altun - HalisGR-Medium.woff') format('woff'), url('https://helge.media/fonts/Ahmet Altun - HalisGR-Medium.ttf') format('truetype'), url('https://helge.media/fonts/Ahmet Altun - HalisGR-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

